Options +FollowSymlinks
RewriteEngine on

AddDefaultCharset UTF-8
Options All -Indexes

RewriteRule ^process/([a-zA-Z0-9_]+)/([a-zA-Z0-9]+)/$ modules/$1/process.php?action=$2 [L]
RewriteRule ^process/([a-zA-Z0-9_]+)/([a-zA-Z0-9]+)$  modules/$1/process.php?action=$2 [L]

RewriteRule ^print/([a-zA-Z0-9_]+)$ print/$1.mrt [L]
RewriteRule ^print/([a-zA-Z0-9_]+)$ print/$1.mrt [L]

RewriteRule ^print/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)$ print/$1/$2.mrt [L]
RewriteRule ^print/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)$ print/$1/$2.mrt [L]

RewriteRule ^m/([a-zA-Z0-9_]+)/$ index.php?_page=$1 [QSA,L]
RewriteRule ^m/([a-zA-Z0-9_]+)$  index.php?_page=$1 [QSA,L]
RewriteRule ^m/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/$ index.php?_page=$1/$2.php [QSA,L]
RewriteRule ^m/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)$  index.php?_page=$1/$2.php [QSA,L]
RewriteRule ^m/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/$ index.php?_page=$1/$2/$3.php [QSA,L]
RewriteRule ^m/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)/([a-zA-Z0-9_]+)$  index.php?_page=$1/$2/$3.php [QSA,L]

RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?_module=$1 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)$  index.php?_module=$1 [QSA,L]

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ index.php?_module=$1&_submodule=$2 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$  index.php?_module=$1&_submodule=$2 [QSA,L]

